#toy-header {
  display: flex;
  justify-content: center;
  background: rgb(29, 73, 90);
  opacity: 0.7;
  height: 100px;
  padding: 10px;
}

#toy-header img {
  height: 7rem;
  width: auto;
}

#toy-collection {
  margin: 3rem;
}

.card {
  justify-content: center;
  border: 2px solid rgb(131, 129, 129);
  padding: 10px;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 0 10px 85px 0 rgba(0, 0, 0, 0.2),
    0 16px 40px 0 rgba(58, 166, 255, 0.19);
}

button {
  display: inline-block;
  background-color: rgb(29, 73, 90);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: white;
  font-size: 16px;
  justify-content: center;
}

button:hover {
  background-color: rgb(252, 30, 159);
  color: white;
  cursor: pointer;
}
.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: rgb(29, 73, 90);
  opacity: 0.7;
}

.add-toy-form {
  width: 100%;
}

.input-text {
  border-radius: 7px;
  height: 3rem;
  width: 50%;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
}

.submit {
  background-color: rgb(255, 38, 190);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: rgb(0, 0, 0);
  font-size: 16px;
  justify-content: center;
}

.submit:hover {
  cursor: pointer;
}

.toy-avatar {
  justify-content: center;
  height: 10rem;
  width: auto;
}

#head {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 600px;
}
